<div class="contentframe">
  <div class="d-flex justify-content-between align-items-center mb-3 mx-2">
    <h4 class="mb-0">Project / Dashbaord</h4>
    <button class="btn btn-phoenix-secondary shadow border">
      <i class="fas fa-eraser"></i>
    </button>
  </div>
  <div id="tableExample3">
    <div
      class="mx-n4 px-4 mx-lg-n4 px-lg-6 bg-body-emphasis pt-4 pb-4 border-y mb-5"
    >
      <div id="printableArea">
        <div class="row align-items-end justify-content-between pb-4 g-3">
          <!-- <div class="col-auto">
            <h3>Chart of Accounts</h3>
          </div>
          <div class="col-12 col-md-auto">
            <div class="row g-2 gy-3">
              <div class="col-auto">
                //data here... 
              </div>
            </div>
          </div> -->
          <div class="row py-5">
            <div class="col-6">
              <div class="card rounded-1 p-1">
                chart 1
              </div>
            </div>
            <div class="col-6">
              <div class="card rounded-1 p-1">
                chart 2
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
