<div class="contentframe">

  <div class="d-flex justify-content-between align-items-center mb-3">
    <h4 class="text-body mb-0" data-anchor="data-anchor" id="custom-styles-example">{{ isEditMode ? 'HoliDay' :
      'HoliDay' }} <a class="anchorjs-link " aria-label="Anchor" data-anchorjs-icon="#"
        style="margin-left: 0.1875em; padding-right: 0.1875em; padding-left: 0.1875em;"></a>
    </h4>
         <button class="btn btn-success" (click)="navigateToList()"
 *ngIf="Button.viewBtn" [innerHTML]="Button.viewBtn+' View'">
</button>

  </div>
  <div class="card shadow-none border my-4" data-component-card="data-component-card">
    <div class="card-body">
      <form [formGroup]="holidayForm" (ngSubmit)="onSubmit()" class="row g-3 needs-validation was-validated">
        <input class="form-control" formControlName="holidayId" type="hidden">
        <div class="col-md-3">
          <label class="form-label">HoliDay Name</label>
          <input class="form-control" formControlName="holidayName" type="text" required="">
          <div class="invalid-feedback">HoliDay Name Is Required.</div>
        </div>
        <div class="col-md-3">
          <label class="form-label"> Start Date</label>
          <input formControlName="startDate"
            class="form-control form-control-datepicker dtpickr" type="date" placeholder="dd-MMM-yyyy"
            data-options='{"disableMobile":true,"allowInput":true}' autocomplete="disable" />
        </div>
        <div class="col-md-3">
          <label class="form-label"> End Date</label>
          <input formControlName="endDate" 
            class="form-control form-control-datepicker dtpickr" type="date" placeholder="dd-MMM-yyyy"
            data-options='{"disableMobile":true,"allowInput":true}' autocomplete="disable" />
        </div>
        <div class="col-md-3" style="display: none;">
          <label class="form-label">Number of Days</label>
          <input class="form-control" formControlName="numberofDays" type="text" ng-readonly="true" >
        </div>

        <div class="col-12" style="margin-top:15px;">
          <button class="btn btn-primary" type="submit" [disabled]="holidayForm.invalid || isSubmitting">{{ isSubmitting
            ? 'Submitting...' : 'Submit' }}</button>
                    <button 
    *ngIf="!isEditMode && Button.cleanBtn"
    type="button"
    class="btn btn-warning ms-2"
    (click)="onReset()"
    [innerHTML]="Button.cleanBtn+' Reset'">
  </button>
        </div>

      </form>
    </div>
  </div>