<div class="card rounded-1 p-3 pb-0 shadow1 border-0">
  <p class="mb-2 h4">Title: {{ details.title }}</p>
  <p class="mb-0" style="font-size: 14px">Office: {{ details.office }}</p>
  <p class="mb-0" style="font-size: 14px">Member: --</p>
  <p class="mb-0" style="font-size: 14px">
    Amount: {{ details.proposedAmount }}
  </p>
  <p class="mb-0" style="font-size: 14px">
    Date: {{ details.applicationDate }}
  </p>
  <!-- LOAN TYPE R  -->
  <div *ngIf="details.loanType === 'R'">
    <form
      class="form mt-3 bg-light p-4 row"
      [formGroup]="dataForm"
      (ngSubmit)="onSubmitApproveForm()"
    >
      <div class="mb-2 row">
        <label class="col-sm-6 h6 pt-2 mt-1" for="proposedAmount"
          >Payment Type:</label
        >
        <div class="col-sm-6 px-0">
          <!-- {{ dataForm.get("paymentType")?.value }} -->
          <select
            formControlName="paymentType"
            class="form-select"
            (change)="paymentTypeFilterFunc($event)"
          >
            <option value="">Please select</option>
            <option
              *ngFor="let payment of paymentTypeList"
              [value]="payment.value"
            >
              {{ payment.text }}
            </option>
          </select>
        </div>
      </div>
      <div
        class="mb-2 row"
        *ngIf="
          dataForm.get('paymentType')?.value === 'CHQ' ||
          dataForm.get('paymentType')?.value === 'APC'
        "
      >
        <label class="col-sm-6 h6 pt-2 mt-1" for="bank">Bank:</label>
        <div class="col-sm-6 px-0">
          <select
            formControlName="bank"
            class="form-select form-control-sm"
            (change)="bankListFilterFunc($event)"
          >
            <option value="">Please select</option>
            <option *ngFor="let bank of bankList" [value]="bank.value">
              {{ bank.text }}
            </option>
          </select>
        </div>
      </div>
      <div
        class="mb-2 row"
        *ngIf="
          (this.dataForm.get('paymentType')?.value === 'CHQ' ||
            this.dataForm.get('paymentType')?.value === 'APC') &&
          this.dataForm.get('bank')?.value !== null &&
          this.dataForm.get('bank')?.value !== ''
        "
      >
        <!-- <label class="col-sm-6 h6 pt-1 mt-1" for="proposedAmount">Check:</label> -->
        <label class="col-sm-6 h6 pt-3 mt-1" for="bank">Cheque:</label>
        <div class="col-sm-6 px-0">
          <!-- Cheque dropdown -->
          <select class="form-select mt-2" formControlName="cheque">
            <option value="">Please select</option>
            <option *ngFor="let cheque of chequeList" [value]="cheque.value">
              {{ cheque.text }}
            </option>
          </select>
        </div>
      </div>
      <div
        class="mb-2 row"
        *ngIf="dataForm.get('paymentType')?.value === 'MFS'"
      >
        <label class="col-sm-6 h6 pt-1 mt-1" for="proposedAmount"
          >Receipt No:</label
        >
        <div class="col-sm-6 px-0">
          <input
            type="text"
            class="form-control"
            placeholder="Enter Receipt No !"
          />
        </div>
      </div>
      <div
        class="mb-2 row"
        *ngIf="
          dataForm.get('paymentType')?.value === 'BFTN' ||
          dataForm.get('paymentType')?.value === 'RTGS' ||
          dataForm.get('paymentType')?.value === 'NPBS' ||
          dataForm.get('paymentType')?.value === 'APC'
        "
      >
        <label class="col-sm-6 h6 pt-2 mt-1" for="proposedAmount"
          >Reference No:</label
        >
        <div class="col-sm-6 px-0">
          <input
            type="text"
            class="form-control"
            placeholder="Enter Reference No !"
          />
        </div>
      </div>
      <!-- Submit -->
      <div class="mb-2 row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6 px-0">
          <button
            type="submit"
            [disabled]="submitting"
            class="btn btn-primary btn-sm w-100"
          >
            {{ submitting ? "Submitting..." : "Submit" }}
          </button>
        </div>
      </div>
    </form>
  </div>

  <!-- //LOAN TYPE A  -->
  <div *ngIf="details.loanType === 'A'">
    <form
      class="form mt-3 bg-light p-4 row"
      [formGroup]="dataForm"
      (ngSubmit)="onSubmitApproveForm()"
    >
      <!-- Proposed Amount -->
      <div class="mb-2 row">
        <label class="col-sm-6 h6 pt-1 mt-1" for="proposedAmount"
          >Proposed Amount:</label
        >
        <div class="col-sm-6 px-0">
          <input
            class="form-control form-control-sm"
            id="proposedAmount"
            type="text"
            placeholder="Enter Change Amount !"
            formControlName="proposedAmount"
          />
        </div>
      </div>

      <!-- Action -->
      <div class="mb-2 row">
        <label class="col-sm-6 h6 pt-1 mt-1" for="actionType">Action:</label>
        <div class="col-sm-6 px-0">
          <select
            class="form-control form-control-sm"
            id="actionType"
            (change)="actionTypeSelectionFunc($event)"
          >
            <option value="APPROVED">Approved</option>
            <option value="REJECTED">Rejected</option>
            <option value="REVISED">Revised</option>
          </select>
        </div>
      </div>

      <!-- Note -->
      <!-- {{ paymentTypeList }} -->
      <div
        class="mb-2 row"
        *ngIf="dataForm.get('actionType')?.value !== 'APPROVED'"
      >
        <label class="col-sm-6 h6 pt-1 mt-1" for="note">Note:</label>
        <div class="col-sm-6 px-0">
          <textarea
            class="form-control form-control-sm"
            id="note"
            placeholder="Enter Notes !"
            formControlName="note"
          ></textarea>
        </div>
      </div>

      <!-- Submit -->
      <div class="mb-2 row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6 px-0">
          <button
            data-bs-dismiss="offcanvas"
            type="submit"
            [disabled]="submitting"
            class="btn btn-primary btn-sm w-100"
          >
            {{ submitting ? "Submitting..." : "Submit" }}
          </button>
        </div>
      </div>
    </form>
  </div>

  <div
    class="modal fade"
    style="background: rgba(0, 0, 0, 0.3)"
    data-bs-toggle="modal"
    id="staticBackdrop"
    tabindex="-1"
    data-bs-backdrop="static"
    aria-labelledby="staticBackdropLabel"
    style="display: none"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header justify-content-between bg-dark">
          <h5
            class="modal-title text-white dark__text-gray-1100"
            id="staticBackdropLabel"
          >
            Print Cheque
          </h5>
          <button
            class="btn p-1"
            type="button"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <i class="fa fa-close"></i>
          </button>
        </div>
        <div class="modal-body">
          <!-- cheque start -->
          <div
            id="printableChequeArea"
            style="
              width: 100%;
              height: 333px;
              background: transparent;
              padding: 25px;
              position: relative;
            "
          >
            <div
              class="cheque-border"
              style="
                position: absolute;
                top: 10px;
                left: 10px;
                right: 10px;
                bottom: 10px;
                border: 1px solid #7ba77b;
                pointer-events: none;
              "
            ></div>

            <div
              class="cheque-header"
              style="
                display: flex;
                justify-content: space-between;
                margin-bottom: 25px;
                border-bottom: 2px solid transparent;
                padding-bottom: 15px;
              "
            >
              <div class="bank-info" style="text-align: left"></div>

              <div class="cheque-details" style="text-align: right">
                <div
                  class="sbc"
                  style="
                    font-size: 18px;
                    font-weight: bold;
                    color: transparent;
                    margin-bottom: 5px;
                  "
                >
                  SBC
                </div>
                <div
                  class="date-boxes"
                  style="
                    display: flex;
                    gap: 5px;
                    margin-top: 5px;
                    justify-content: flex-end;
                  "
                >
                  <span
                    class="date-label"
                    style="
                      font-size: 18px;
                      font-weight: bold;
                      color: transparent;
                    "
                    >DATE</span
                  >
                  <div
                    class="date-box"
                    style="
                      width: 35px;
                      height: 24px;
                      border: 1px solid transparent;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      font-size: 17px;
                      background: transparent;
                    "
                    [innerText]="checkInformation.day_1"
                  ></div>
                  <div
                    class="date-box"
                    style="
                      width: 35px;
                      height: 24px;
                      border: 1px solid transparent;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      font-size: 17px;
                      background: transparent;
                    "
                    [innerText]="checkInformation.day_2"
                  ></div>
                  <div
                    class="date-box"
                    style="
                      width: 35px;
                      height: 24px;
                      border: 1px solid transparent;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      font-size: 17px;
                      background: transparent;
                    "
                    [innerText]="checkInformation.month_1"
                  ></div>
                  <div
                    class="date-box"
                    style="
                      width: 35px;
                      height: 24px;
                      border: 1px solid transparent;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      font-size: 17px;
                      background: transparent;
                    "
                    [innerText]="checkInformation.month_2"
                  ></div>
                  <div
                    class="date-box"
                    style="
                      width: 35px;
                      height: 24px;
                      border: 1px solid transparent;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      font-size: 17px;
                      background: transparent;
                    "
                    [innerText]="checkInformation.year_1"
                  ></div>
                  <div
                    class="date-box"
                    style="
                      width: 35px;
                      height: 24px;
                      border: 1px solid transparent;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      font-size: 17px;
                      background: transparent;
                    "
                    [innerText]="checkInformation.year_2"
                  ></div>
                  <div
                    class="date-box"
                    style="
                      width: 35px;
                      height: 24px;
                      border: 1px solid transparent;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      font-size: 17px;
                      background: transparent;
                    "
                    [innerText]="checkInformation.year_3"
                  ></div>
                  <div
                    class="date-box"
                    style="
                      width: 35px;
                      height: 24px;
                      border: 1px solid transparent;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      font-size: 17px;
                      background: transparent;
                    "
                    [innerText]="checkInformation.year_4"
                  ></div>
                </div>
              </div>
            </div>

            <div
              class="cheque-content"
              style="display: flex; flex-direction: column; gap: 20px"
            >
              <div
                class="pay-to"
                style="display: flex; align-items: center; font-size: 18px"
              >
                <span
                  class="pay-to-label"
                  style="font-weight: bold; color: transparent"
                  >Pay To</span
                >
                <div
                  class="dotted-line"
                  style="
                    flex-grow: 1;
                    border-bottom: 2px dotted transparent;
                    margin-left: 0px;
                    padding-left: 50px;
                    height: 20px;
                    line-height: 20px;
                  "
                  [innerText]="checkInformation.payTo"
                ></div>
              </div>

              <div
                class="amount-section"
                style="display: flex; align-items: center; font-size: 18px"
              >
                <div style="width: 70%">
                  <span
                    class="amount-label"
                    style="font-weight: bold; color: transparent"
                    >The sum of Taka</span
                  >
                  <span
                    class="px-5"
                    [innerHTML]="checkInformation.inWord"
                  ></span>
                </div>
                <div
                  class="amount-box px-5"
                  style="
                    width: 350px;
                    height: 45px;
                    border: 1px solid transparent;
                    margin-left: 15px;
                    display: flex;
                    align-items: center;
                    padding: 0 10px;
                    font-weight: bold;
                    background: transparent;
                  "
                >
                  {{ checkInformation.amount }}
                </div>
              </div>
            </div>

            <div
              *ngIf="details.loanType === 'APC'"
              class="footer border-0"
              style="
                position: absolute;
                bottom: 30px;
                left: 0;
                font-size: 14px;
                color: #d64d86;
                font-weight: bold;
              "
              [innerText]="'**' + checkInformation.acc_Pay + '**'"
            ></div>

            <div
              class="signature-area"
              style="
                position: absolute;
                bottom: 35px;
                right: 25px;
                text-align: center;
                width: 450px;
              "
            ></div>
          </div>
          <!-- cheque end -->
        </div>
        <div class="modal-footer">
          <button
            (click)="printCheque()"
            class="btn btn-primary"
            type="button"
            data-bs-dismiss="offcanvas"
          >
            Print
          </button>
          <button
            (click)="downloadCheque()"
            class="btn btn-primary"
            type="button"
            data-bs-dismiss="offcanvas"
          >
            Download
          </button>
          <button
            class="btn btn-outline-primary"
            type="button"
            data-bs-dismiss="modal"
            data-bs-dismiss="offcanvas"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>



<button class="btn btn-primary btn-sm my-5" (click)="updatePersonal(newDta)">Set Personal: Islam27</button>